.main-image {
  padding: 0;
  margin: 0;
  width: 100%;
}

.container {
  width: 1280px;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  
}
.navbar-menu {
list-style: none;
margin-right: 330px 26px;
}

.navbar-list {
display: inline-block;
padding-right: 75px;
}

.navbar-link {

}

.navbar-link {
color: #FF0000;
font-weight: bold;
font-size: 18px;
line-height: 18px;
text-transform: uppercase;
text-decoration: none;
}

.main-title {
margin-top: 48px;
padding-bottom: 28px;
font-weight: bold;
font-size: 23px;
line-height: 27px;
text-transform: uppercase;
color: #373737;
}

.main-text {
  margin-top: 26px;
}

.main-button {
margin-top: 66px;
padding: 18px 43px 18px 42px;
font-weight: bold;
font-size: 12px;
line-height: 12px;
text-transform: uppercase;
color: #FFFFFF;
background-color: #FF0000;
border-radius: 4px;
border-style: none;
}

.footer-text {
margin-top: 82px;
font-weight: bold;
font-size: 16px;
line-height: 20px;
color: #373737;
letter-spacing: 2.4px;
}


.footer-text {
  text-align: right;
}

/* ctrl slash коментарицй */

